.git
.gitignore
.gitattributes
README.md
.env*
*.md
log/*
tmp/*
!/log/.keep
!/tmp/.keep
!/tmp/pids/
!/tmp/pids/.keep
db/*.sqlite3
db/*.sqlite3-*
storage/*
!/storage/.keep
node_modules
coverage
.byebug_history
helm-chart
Dockerfile*
.dockerignore
